<form class="need-validation" novalidate [formGroup]="form">
  <label for="title" class="form-label">Nome da Matéria</label>
  <input type="text" id="title" class="form-control"
         formControlName="title" placeholder="Materia" [ngClass]="{'is-invalid': submitted && hasError('title')}">
  <label for="author" class="form-label">Professor da Matéria</label>
  <input type="text" id="author" class="form-control"
         formControlName="author" placeholder="Professor" [ngClass]="{'is-invalid': submitted && hasError('author')}">
  <div class="invalid-feedback">
    Por favor, informe o nome do professor
  </div>
  <div style="margin-top: 10px">
    <input type="submit" nome="acao" value="Salvar" (click)="onSubmit()" />
    <input type="submit" nome="acao" value="Voltar" routerLink="/materias" />
  </div>

</form>
