div {
  width: 100vh;
  height: 65%;
  background: #FAF3F3;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 6px;
  position: absolute;
  top: 35%;
  left: 2%;
  overflow: hidden;
  overflow-y: scroll;

}
.div scrollbar {
  width: 800px;
  height: 65%;
}
::-webkit-scrollbar{
    width:12px;
}
::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
  border: 1px solid black;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: cadetblue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid black; /* creates padding around scroll thumb */
}
.app-cardcomponent {
  display: block;
  padding: 25px 18px;
}
